graft docs
graft examples
graft src
graft tests

include .bumpversion.cfg
include .coveragerc
include .isort.cfg
include .pylintrc

include AUTHORS.md
include CHANGELOG.md
include LICENSE
include README.md

global-exclude *.py[co] __pycache__
